<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Album List</title>
</head>
<body>
    <h1>Albums</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="album : ${albums}">
                <td th:text="${album.title}"></td>
                <td th:text="${album.artist}"></td>
                <td th:text="${album.year}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>